body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:485px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1366 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1367 {
  position:absolute;
  left:7px;
  top:8px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1368 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1369 {
  position:absolute;
  left:7px;
  top:30px;
  width:483px;
  height:153px;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u1371 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u1372 {
  position:absolute;
  left:100px;
  top:0px;
  width:285px;
  height:30px;
  text-align:center;
}
#u1373 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  word-wrap:break-word;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u1374 {
  position:absolute;
  left:385px;
  top:0px;
  width:93px;
  height:30px;
  text-align:center;
}
#u1375 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u1376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1376 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
  text-align:center;
}
#u1377 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:36px;
}
#u1378 {
  position:absolute;
  left:100px;
  top:30px;
  width:285px;
  height:36px;
  text-align:center;
}
#u1379 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u1380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u1380 {
  position:absolute;
  left:385px;
  top:30px;
  width:93px;
  height:36px;
  text-align:center;
}
#u1381 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1382 {
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:30px;
  text-align:center;
}
#u1383 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u1384 {
  position:absolute;
  left:100px;
  top:66px;
  width:285px;
  height:30px;
  text-align:center;
}
#u1385 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  word-wrap:break-word;
}
#u1386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u1386 {
  position:absolute;
  left:385px;
  top:66px;
  width:93px;
  height:30px;
  text-align:center;
}
#u1387 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u1388 {
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:52px;
  text-align:center;
}
#u1389 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:52px;
}
#u1390 {
  position:absolute;
  left:100px;
  top:96px;
  width:285px;
  height:52px;
  text-align:center;
}
#u1391 {
  position:absolute;
  left:2px;
  top:18px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:52px;
}
#u1392 {
  position:absolute;
  left:385px;
  top:96px;
  width:93px;
  height:52px;
  text-align:center;
}
#u1393 {
  position:absolute;
  left:2px;
  top:18px;
  width:89px;
  word-wrap:break-word;
}
