body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:485px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u718 {
  position:absolute;
  left:7px;
  top:8px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u720 {
  position:absolute;
  left:7px;
  top:30px;
  width:483px;
  height:131px;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u722 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u723 {
  position:absolute;
  left:100px;
  top:0px;
  width:285px;
  height:30px;
  text-align:center;
}
#u724 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  word-wrap:break-word;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u725 {
  position:absolute;
  left:385px;
  top:0px;
  width:93px;
  height:30px;
  text-align:center;
}
#u726 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u727 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
  text-align:center;
}
#u728 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:36px;
}
#u729 {
  position:absolute;
  left:100px;
  top:30px;
  width:285px;
  height:36px;
  text-align:center;
}
#u730 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u731 {
  position:absolute;
  left:385px;
  top:30px;
  width:93px;
  height:36px;
  text-align:center;
}
#u732 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u733 {
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:30px;
  text-align:center;
}
#u734 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u735 {
  position:absolute;
  left:100px;
  top:66px;
  width:285px;
  height:30px;
  text-align:center;
}
#u736 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u737 {
  position:absolute;
  left:385px;
  top:66px;
  width:93px;
  height:30px;
  text-align:center;
}
#u738 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u739 {
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:30px;
  text-align:center;
}
#u740 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u741 {
  position:absolute;
  left:100px;
  top:96px;
  width:285px;
  height:30px;
  text-align:center;
}
#u742 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u743 {
  position:absolute;
  left:385px;
  top:96px;
  width:93px;
  height:30px;
  text-align:center;
}
#u744 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u745 {
  position:absolute;
  left:7px;
  top:166px;
  width:463px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  white-space:nowrap;
}
