body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u3816 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u3817 {
  position:absolute;
  left:2px;
  top:192px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
