body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:485px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u799 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u800 {
  position:absolute;
  left:7px;
  top:8px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u802 {
  position:absolute;
  left:7px;
  top:30px;
  width:483px;
  height:265px;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u803 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u804 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u805 {
  position:absolute;
  left:100px;
  top:0px;
  width:285px;
  height:30px;
  text-align:center;
}
#u806 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  word-wrap:break-word;
}
#u807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u807 {
  position:absolute;
  left:385px;
  top:0px;
  width:93px;
  height:30px;
  text-align:center;
}
#u808 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u809 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
  text-align:center;
}
#u810 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:36px;
}
#u811 {
  position:absolute;
  left:100px;
  top:30px;
  width:285px;
  height:36px;
  text-align:center;
}
#u812 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u813 {
  position:absolute;
  left:385px;
  top:30px;
  width:93px;
  height:36px;
  text-align:center;
}
#u814 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u815 {
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:30px;
  text-align:center;
}
#u816 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u817 {
  position:absolute;
  left:100px;
  top:66px;
  width:285px;
  height:30px;
  text-align:center;
}
#u818 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  word-wrap:break-word;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u819 {
  position:absolute;
  left:385px;
  top:66px;
  width:93px;
  height:30px;
  text-align:center;
}
#u820 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u821 {
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:30px;
  text-align:center;
}
#u822 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u823 {
  position:absolute;
  left:100px;
  top:96px;
  width:285px;
  height:30px;
  text-align:center;
}
#u824 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  word-wrap:break-word;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u825 {
  position:absolute;
  left:385px;
  top:96px;
  width:93px;
  height:30px;
  text-align:center;
}
#u826 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u827 {
  position:absolute;
  left:0px;
  top:126px;
  width:100px;
  height:30px;
  text-align:center;
}
#u828 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u829 {
  position:absolute;
  left:100px;
  top:126px;
  width:285px;
  height:30px;
  text-align:center;
}
#u830 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u831 {
  position:absolute;
  left:385px;
  top:126px;
  width:93px;
  height:30px;
  text-align:center;
}
#u832 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u833 {
  position:absolute;
  left:0px;
  top:156px;
  width:100px;
  height:52px;
  text-align:center;
}
#u834 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:52px;
}
#u835 {
  position:absolute;
  left:100px;
  top:156px;
  width:285px;
  height:52px;
  text-align:center;
}
#u836 {
  position:absolute;
  left:2px;
  top:18px;
  width:281px;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:52px;
}
#u837 {
  position:absolute;
  left:385px;
  top:156px;
  width:93px;
  height:52px;
  text-align:center;
}
#u838 {
  position:absolute;
  left:2px;
  top:18px;
  width:89px;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u839 {
  position:absolute;
  left:0px;
  top:208px;
  width:100px;
  height:52px;
  text-align:center;
}
#u840 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:52px;
}
#u841 {
  position:absolute;
  left:100px;
  top:208px;
  width:285px;
  height:52px;
  text-align:center;
}
#u842 {
  position:absolute;
  left:2px;
  top:18px;
  width:281px;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:52px;
}
#u843 {
  position:absolute;
  left:385px;
  top:208px;
  width:93px;
  height:52px;
  text-align:center;
}
#u844 {
  position:absolute;
  left:2px;
  top:18px;
  width:89px;
  word-wrap:break-word;
}
